/* #menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.97) ;
   transition: all 0.5s;
   transform: translateX(100%);
}

.menu a{
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    padding: 15;
    left: 50%;
    text-align: center;
   
}

.menu a:hover {
    background: rgba(4,4,4,4.3);   
}

#menu-bar:checked ~ .menu{
    transform: translateX(0);
} */