@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url(menu.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif
}

header {
    width: 100%;
    height: 60px;
    background: #191919 ;
    color: #eee;
    position: fixed;
    
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor {
    width: 98%;
    margin: auto;
}

h1 {
    float: left;
}

header .contenedor{
    display: table;
}